{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div style="text-align: center; margin-bottom: 20px;"> 
        <form action="{% url 'searchTags' %}" method="get" id="searchForm">
            <input type="text" name="tags" placeholder="Search for tags" style="border:1px solid blue; color:white">
            <input type="submit" value="Search" style="text-align: center;" class="btn btn-secondary btn-sm">
        </form>
    </div>
    {% if user.is_authenticated %}
    <div id="TopRack">
        <button class="btn btn-primary btn-sm" id="newPostButton">New Post</button>
    </div>
    <script>
        newPostButton = document.querySelector("#newPostButton");
        newPostButton.addEventListener('click',()=>{
            loadPage("CreatePost");
            document.querySelector("#paginatory").style.display="none";
            document.querySelector("#searchForm").style.display="none";
        });
    </script>
    {% endif %}

    <div class="pages" id="CreatePost">
        <form action="{% url 'createpost' %}" method="post">
            {% csrf_token %}
            <textarea name="content" placeholder="We are eager to recieve your post!" style="color: white;"></textarea>
            <p>
                <input style="min-width:70%; color: white;" type="text" name="tags" placeholder="Add space separated tags">
            </p>
            <input class="btn btn-primary btn-sm" type="submit" style="margin-bottom:20px; ">
        </form>
        <a href="{% url 'index' %}"><button class="btn btn-danger btn-sm">Go back</button></a>
    </div>
    <div class="spinner-border text-warning" role="status" id="spinner">
        <span class="sr-only">Loading...</span>
    </div>    
    <div>
        {{error_message}}
    </div>
    <div class="pages" id="AllPosts"></div>
    <div class="pages" id="AllPostsChrono"></div>
    <hr>
    <div id="paginatory"></div>
    <input type="hidden" id="userid" value="{{user.id}}">
    <script src="{% static 'network/views.js' %}"></script>
{% endblock %}