{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Jovial Text{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div style="text-align: center;">

        <div style="display: inline-block;">
            
            <nav class="navbar navbar-expand-lg navbar-light bg-black">
                <!-- Not used hyperlinks to the routes as the javascript handles the clicks on these buttons -->
                <ul class="navbar-nav mr-auto">
                  <li>
                      <a class="navbar-brand" id="AllPostsSentiLink"><img id="imgLogo" src="{% static 'network/2.jpg' %}"></a>
                  </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userpage' user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" id="AllPostsLink"><span>All Posts</span></a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form id="followingButton" style="display: inline-block;">
                            {% csrf_token %}
                            <input id="following" class="nav-link" style="color:white !important" type="submit" value="Following">
                        </form>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"><span>Log Out</span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><span>Log In</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}"><span>Register</span></a>
                    </li>
                {% endif %}
              </ul>
            </nav>       
            </div>         
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>