{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Jovial Text{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body style="text-align: center;">
        <div>

            <div style="display: inline-block;">
            <nav class="navbar navbar-expand-lg navbar-light bg-black">
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userpage' user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href={%url 'index'%}><span>All Posts</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><span>Log Out</span></a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><span>Log In</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}"><span>Register</span></a>
                    </li>
                {% endif %}
              </ul>
            </nav>
            </div>

        </div>
        <div class="body">

    <div id="UserBody">
        <div class="userPicDiv">
                <img class="userPic" src="{{userpic}}">
        </div>
        <div id="username">
            {{username}}
        </div>
        <p style="text-align: center; color:rgb(165, 186, 255)">
            {{userbio.bio}}
        </p>
        <div>
            {% if user.is_authenticated %}
                {% if user.username == username %}
                <form action="{% url 'changePic' %}" method="post" style="display: none;" id="picChangeForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="image" required>
                    <input type="submit" class="btn btn-primary btn-sm" value="Change">
                </form>
                <button class="btn btn-outline-info btn-sm" id="picChangebtn" style="margin-bottom: 10px;">Change Profile Picture</button>
                <script>
                    document.querySelector("#picChangebtn").onclick = () => {
                        if (document.querySelector("#picChangebtn").innerHTML == "Change Profile Picture") {
                            document.querySelector("#picChangeForm").style.display = "block";
                            document.querySelector("#picChangebtn").innerHTML = "Cancel"
                        } else {
                            document.querySelector("#picChangeForm").style.display = "none";
                            document.querySelector("#picChangebtn").innerHTML = "Change Profile Picture"
                        }
                    };
                </script>

                <form action="{% url 'changeBio' %}" method="post" style="display: none;" id="bioChangeForm">
                    {% csrf_token %}
                    <input type="text" name="bio" required style="border:1px solid blue; color:white">
                    <input type="submit" class="btn btn-primary btn-sm" value="Change">
                </form>
                <button class="btn btn-outline-info btn-sm" id="bioChangebtn" style="margin-bottom: 10px;">Change Bio</button>
                <script>
                    document.querySelector("#bioChangebtn").onclick = () => {
                        if (document.querySelector("#bioChangebtn").innerHTML == "Change Bio") {
                            document.querySelector("#bioChangeForm").style.display = "block";
                            document.querySelector("#bioChangebtn").innerHTML = "Cancel"
                        } else {
                            document.querySelector("#bioChangeForm").style.display = "none";
                            document.querySelector("#bioChangebtn").innerHTML = "Change Bio"
                        }
                    };
                </script>
            {% else %}
            <form action="{% url 'follow' username %}">
                {% csrf_token %}
                <button class="btn btn-primary btn-sm" type="submit">{% if follow_status %} Unfollow {% else %} Follow {% endif %}</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
        <div id="belowFollowButton" style="display: inline-block;">
            <div>Followers: {{followers}}</div> <div>Following: {{following}}</div> <div>Posts: {{postcount}}</div>
        </div>
        <div>
            {% for post in posts %}
            <div class="post">
                <div style="display: flex;">
                    <div class="picIconDiv">
                        <img src="{{userpic}}" class="picIcon">
                    </div>
                    <div style="display:inline-block; margin-top: 5px;margin-left: 10px;">
                        <i>{{post.time}}</i>
                    </div>
                </div>
                <div id="toHide{{post.id}}">
                <p id="toupdate{{post.id}}" class="postContent">{{post.content}} </p>
                <p id="post{{post.id}}">Likes: {{post.likecount}}</p>
                {% if user.is_authenticated %}
                <form id="{{post.id}}form" onsubmit="LikePost({{post.id}}); return false">

                    <button class="btn btn-primary btn-sm" id="button{{post.id}}" type="submit" style="margin-bottom: 5px;">
                        {% if post.liked %}
                            Unlike
                        {% else %}
                            Like
                        {% endif %}
                    </button>
                    <input type="hidden" name="id" value="{{post.id}}">
                </form>
                {% endif %}
                </div>
                {% if user.id == post.poster_id %}
                    <button class="btn btn-primary btn-sm" id="editButton{{post.id}}" onclick="editpost({{post.id}})">Edit</button>
                    <form id="editForm{{post.id}}" style="display:none">
                        <textarea id="editText{{post.id}}" name="post_content">{{post.content}}</textarea>
                        {% csrf_token %}
                        <input class="btn btn-primary btn-sm" onclick="editPostSubmit({{post.id}})" type="button" value="Done">
                    </form>
                {% endif %}
            </div>
            {% endfor %}
    </div>
        {% if pagecount > 1 %}
        <div id="paginatory">
            Page: {{page}}
            <form id="prevButtonForm">
                <button class="btn btn-primary btn-sm" type="submit">Prev</button>
                <input type="hidden" name="page" value="{{page|add:-1}}">
            </form>
            <form action="/user/{{username}}" id="nextButtonForm" method="GET">
                <button class="btn btn-primary btn-sm" type="submit">Next</button>
                <input type="hidden" name="page" value="{{page|add:1}}">
            </form>

        </div>
        {% endif %}
        <script src="{% static 'network/userpage.js' %}"></script>
        </div>
    </body>
</html>

