html * {
    background-color: black;
}

body {
    color: white;
}

nav *{
    color: white;
}

#AllPostsButton:hover {
    cursor: pointer;
}

#TopRack {
    text-align: center;
}

#TopRack * {
    margin-right: 10px;
    margin-bottom: 7px;
}

#AllPostsSentiLink:hover {
    cursor: pointer;
}

#AllPostsLink:hover {
    cursor: pointer;
}

#imgLogo {
    max-height: 3cm;
}

.mybutton {
    margin-bottom:3px
}

.post {
    border-radius: 10px;
    margin: 20px;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5cm;
    max-width: 15cm;
    min-height: 5cm;
    background-color: #101010;
    margin-bottom: 1cm;
    animation: glow 8s  infinite;
}
.post * {
    background-color: #101010;

}
.postContent {
    margin-top: 20px;
    font-family: 'serif oblique';
    
}

@media (max-width:650px) {
    .post {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


textarea {
    margin: 10px;
    padding: 10px;
    height: 5cm;
    width: 70%;
    border-radius: 15px;
}

@keyframes enterFromRight {
    0% {
        opacity: 0;
        padding-left: 1cm;
    }

    100% {
        opacity: 1;
        padding-left: 0cm;
    }
}

@keyframes enterFromBottom {
    0% {
        opacity: 0;
        margin-top: 2cm;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0.2px 0.2px 4px 4px rgba(0, 0, 167, 0.41);
    }
    50% {
        box-shadow: 1px 1px 8px 8px rgba(74, 74, 255, 0.481);
    }
    100% {
        box-shadow: 0.2px 0.2px 4px 4px rgba(0, 0, 167, 0.41);;
    }
}

#username {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 15px;
    animation-name: enterFromRight;
    animation-duration: 2s;
}


.navbar {
    animation-name: enterFromBottom;
    animation-duration: 3s;
}

#UserBody {
    padding: .5cm;
}

#belowFollowButton {
    display: flex;
    flex: wrap;
}

#CreatePost {
    animation-name: enterFromRight;
    animation-duration: 2s;
}

#following {
    border: none;
    background: none;
}

#paginatory {
    text-align: center;

}

#paginatory * {
    margin: 5px;
    display: inline;
}

hr {
    border: 1px solid gray;
    opacity: 50%;
}

.userPic {
    max-width: 10cm;
    max-height: 10cm;
    background-color: white;
    border: 1px solid black;
}

@media (max-width:650px) {
    .userPic {
        max-width: 100%;
    }
}